

@model Movie.Models.Producer


@{
    ViewBag.Title = "Create";

}
@{
    Layout = null;
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
<style>
    #pl1:focus {
        outline: none;
        border-color: aqua;
        box-shadow: 0 0 30px #9ecaed;
    }

    #pl2:focus {
        outline: none;
        border-color: aqua;
        box-shadow: 0 0 30px #9ecaed;
    }

    #pl3:focus {
        outline: none;
        border-color: aqua;
        box-shadow: 0 0 30px #9ecaed;
    }

    #pl4:focus {
        outline: none;
        border-color: aqua;
        box-shadow: 0 0 30px #9ecaed;
    }
</style>
<script>

    function AddPro2() {


        //$("#id2").toggle(function () {
        //    $(this).text("Create");
        //}, function () {
        //    $(this).text("Done");
        //});

        //$(document).ready(function () {
        //    $("#id2").click(function () {
        //        $("#id2").text("Done");
        //    });
        //})


        //$('.id2').click(function () {
        //    if ($(this).text() === 'Create') {
        //        $(this).text('Done');
        //    }
        //    else {
        //        $(this).text('Create');
        //    }
        //});

        //$(document).ready(function () {
        //    $("#id2").click(function () {
        //        // $("#old").toggle('show');
        //        $("#whole").hide();
        //    });
        //});
       // alert("inside pcreate");
        var ProducerData = {
            "Name": $('#pl1').val(),
            "Sex":$('#pl2').val(),
            "DOB": $('#pl3').val(),
            "Bio": $('#pl4').val()

        };


        $.ajax({
            url: "/Producers/PCreatee",
            type: "POST",
            datatype: "html",
            data: ProducerData,
            success: function (data) {

                location.reload();

                //$("#pro1").html(data);
            },
            error: function (result) {
                alert("Failed");
            }

        });






    }



</script>

@*<div id="old">
        <h4>Choose and existing producer</h4>
        <select name="ProducerID" value="ProducerID">
            @foreach (var item in ViewBag.Pist)
            {
                <option id=@item.ProducerID value=@item.ProducerID>@item.Name</option>
            }
        </select>

    </div>*@


<div class="form-horizontal" id="whole">
    <h4>Create New Producer</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, id = "pl1" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">


            @Html.DropDownList("Sex", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Male", Value = "Male" },
                    new SelectListItem{ Text="Female", Value = "Female" },
                     new SelectListItem{ Text="Others", Value = "Others" }
                 }, new { id = "pl2", style = "border - radius: 5px; background: white;width: 175px; padding: 5px;font - size: 16px; border: 20px;height: 26px; " })



            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
        </div>
    </div>

    @*
        @Html.DropDownListFor(model => model.Sex, new SelectList{ "Male", "Female", "Others" }, Model.Sex))

                                    @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })


                      <div class="form-group">
                          <label asp-for="Sex" class="col-md-2 control-label"></label>
                          <div class="col-md-10">

                              <select asp-for="Sex" class="form-control">
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                  <option value="Other">Other</option>

                              </select>
                          </div>
                      </div>*@





    <div class="form-group">
        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", style = "border - radius: 5px; background: white;width: 175px; padding: 5px;font - size: 16px; border: 20px;height: 26px; " }, id = "pl3" })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control" }, id = "pl4" })
            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">

            @*<input type="submit" value="Create" class="btn btn-default" />*@

            @*<button id="id2" onclick="AddPro2()" class="btn btn-default">Create Producer</button>*@

            <input type="button" id="id2" value="Create" class="btn btn-default" onclick="AddPro2()" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <div id="pro1"></div>
        </div>
    </div>


</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
